.main-container {
  width: 70vw;
  margin: auto;
}
.header {
  background-color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  padding: 6px;
}
.card {
  background-color: rgba(255, 127, 80, 0.614);
  margin: auto;
}
ul {
  list-style: none;
  text-align: center;
  color: black;
  font-weight: 600;
}
